body{
    margin: 0;
    padding: 0;
    display: flex;
}
html{
   scroll-behavior: smooth;
}
.main{
    height: 100vh;
    width: 100vw;
    background: url('../images/back.png');
    background-position: center;
    background-size: cover;
    position: relative;
}
.logo{
    width: 100px;
    margin: 15px;
    height: 100px;
}
nav{
    position: absolute;
    left: 250px;
    width: 75%;
    top: 45px;
    /* background-color: yellow; */
    display: flex;
    align-items: center;
    justify-content: space-between;
}
nav a{
    text-decoration: none;
    color: #fff;
    font-size: 25px;
    display: block;
    padding: 10px 15px;
    position: relative;
}
nav a:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color:#18c76a;
    transform: scaleX(0);
    transform-origin: left;
    transition: all 0.5s;
}
nav a:after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #18c76a;
    transform: scaleX(0);
    transform-origin: right;
    transition: all 0.5s;
}
nav a:hover{
    color: #18c76a;
}

nav a:hover:before, ul li a:hover:after{
    transform: scaleX(1);
}

.slide{
    width: 95%;
    margin-left: 2.5%;
    height: 80%;
    background-size: cover;
    background-position: center;
    animation: slider 30s linear infinite;
}

@keyframes slider{
   0%{background-image: url(../images/parashakthi.jpg);}
   33.33%{background-image: url(../images/Retro.jpg);}
   66.66%{background-image: url(../images/thuglife.jpg);}
   100%{background-image: url(../images/parashakthi.jpg);}
}
#about{
    width: 98vw;
    height: 100vh;
    position: absolute;
    display: flex;
    align-items: center;
    top: 100vh;
}
#about .content{
    width: 50%;
    margin-left: 5%;
    font-family: sans-serif;
}
#about p{
    text-align: justify;
    text-indent: 10px;
    font-size: 20px;
}
.images{
    width: 40%;
    height: 90vh;
    margin-left: 2.5%;
    position: relative;

}
.images .img{
    position: absolute;
    width: 47%;
    left: 3%;
    top: 3%;
    height: 57%;
}
#contact{
    width: 98vw;
    height: 60vh;
    position: absolute;
    top: 200vh;
    background-position: center;
    background-size: cover;
    background-image: url(../images/back.png);
}
.map{
    width: 50%;
    height: 100%;
    position: relative;
    overflow: hidden;
}
iframe{
    width: 100%;
    height: 100%;
    border: 0;
}
.social{
    width: 40%;
    height: 100%;
    position: absolute;
    top: 0;
    color: #18c76a;
    right: 5%;
    overflow: hidden;
}
.social li{
    font-size: 20px;
    list-style: none;
}
.social a{
    text-decoration: none;
    color: #18c76a;
    transition: ease-in-out 0.5s;
}
.social a:hover{
    color: #fff;
}
.footer{
    width: 100%;
    position: absolute;
    top: 265vh;
    margin-top: 5px;
    font-size: 10px;
    padding: 0;
    background-color: #000;
    text-align:center;
    color: white;
}

